{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section id="header">
	<h1>Good Morning, {{ user }}.</h1>
	<p><strong>Here's what's up with the fleet today.</strong></p>

	<div>
		<!-- this will have the date box. -->
	</div>
</section>
<section id="counter-boxes">
	<div class="counter-box">
		<img src="#" alt="Construction equipment icon">
		<h3>{{ vehicle_counts.vehicles }}</h3>	
		<p><small>Total Vehicles</small></p>
	</div>	
	<div class="counter-box">
		<img src="#" alt="Checkmark icon">
		<h3>{{ vehicle_counts.active }}</h3>
		<p><small>In Service</small></p>
		{% if vehicle_counts.active == 0 %}
			<p><small>0% of fleet</small></p>
		{% else %}
			<p><small>{{ vehicle_counts.active/vehicle_counts.vehicles*100 }}% of fleet</small></p>
		{% endif %}
	</div>
	<div class="counter-box">
		<img src="#" alt="Wrench icon">
		<h3>{{ vehicle_counts.down + vehicle_counts.in_shop}}</h3>
		<p><small>Out of service</small></p>
		{% if vehicle_counts.down == 0 %}
			<p><small>0% of fleet</small></p>
		{% else %}
			<p><small>{{ (vehicle_counts.down + vehicle_counts.in_shop) / vehicle_counts.vehicles }}% of fleet</small></p>
		{% endif %}
	</div>
	<div class="counter-box">
		<img src="#" alt="Red Exclamation icon">
		<h3>{{ vehicle_counts.needs_attention }}</h3>
		<p><small>Needs Attention</small></p>
		<p><small>See details below</small></p>
	</div>
</section>

<section id="data-boxes">
	<div class="data-box">
		<h4>Fleet Status</h4>	
		<!-- this will need a pie chart of fleet status. -->
		<a href="#">View full report</a>
	</div>	

	<div class="data-box">
		<h4>Work Orders Overview</h4>

		<div class="workorder-overview">
			<h5>10</h5>
			<p>New</p>
		</div>
		<div class="workorder-overview">
			<h5>10</h5>
			<p>In Progress</p>
		</div>
		<div class="workorder-overview">
			<h5>10</h5>
			<p>Completed</p>
		</div>
	</div>

	<div class="data-box">
		<h4>Work Orders Needing Attention</h4>	
		<!-- this will need a for loop of all workorders needing attention. -->
		{% for workorder in workorders %}
		<div class="attention-item">
			<img class="attention-img" src="#" alt="Path to workorder image">
			<h6 class="attention-id">WO-{{ workorder.primary_key }}</h6>
			<!-- I would like to make this show the actual vehicle not just the id. -->
			<p class="attention-subid"><small>{{ workorder.vehicle_id }}</small></p>
			<h6 class="attention-name">{{ workorder.name }}</h6>
			<div class="attention-status-icon">
				<p>{{ workorder.severity }}</p>
			</div>
			<p class="attention-time">Hours ago created.</p>
		</div>
		{% endfor %}
		</ul>
	</div>
		
	<div class="data-box">
		<h4>Equipment Needing Attention</h4>	
		<!-- this will need a for loop of all workorders needing attention. -->
		<img src="#" alt="Path to vehicle image">
		<h6>Equipment ID</h6>
		<p><small>Vehicle assigned to</small></p>
		<h6>Equipment Name</h6>
		<div class="workorder-status-icon">
			<p>Currrent Status</p>
		</div>
		<p>Hours ago created</p>
	</div>
</section>






{% endblock %}

